# This workflow will build a package using Maven and then publish it to the GitHub release

name: Maven Package

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Get tag version
      id: get_tag
      run: echo ::set-output name=tag_name::${GITHUB_REF/refs\/tags\/v/}

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        token: ${{ secrets.RELEASE_TOKEN }}
        files: target/${{ github.event.repository.name }}-${{ steps.get_tag.outputs.tag_name }}.jar
